<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">


  <link rel="icon" type="image/png" href="/images/icon-min1.png">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:900px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:66%;vertical-align:middle;line-height: 150%;">
              <h1 style="margin-bottom: 30px;">
                Yikai Wang 王毅楷
              </h1>
              <p>I am a senior undergraduate student at the <a href="https://www.wyc.tsinghua.edu.cn/syzl/syjj.htm">Weiyang College</a>, <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a>, where my major is Mechanical Engineering, as well as Mathematics and Physics.
              </p>
              <p>
                I am a student intern at <a href="https://www.cmu.edu/">Carnegie Mellon University</a> and a reserch assistant at the <a href="https://group.iiis.tsinghua.edu.cn/~isrlab/">ISR Lab</a>, <a href="https://iiis.tsinghua.edu.cn/en/">IIIS</a>, <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a>. I am honored to be advised by <a href="http://www.gshi.me/">Prof. Guanya Shi</a>, <a href="http://people.iiis.tsinghua.edu.cn/~jychen/">Prof.Jianyu Chen</a>, and <a href="https://www.meche.engineering.cmu.edu/directory/bios/zhao-ding.html">Prof.Ding Zhao</a>. 
              </p>
              <p>
                My research objective is to enhance the robot's motion capabilities, enabling it to perform high-dynamic tasks while ensuring safety. Building upon this, the robot can accomplish more versatile tasks in complex environments. To this end, I think that reinforcement learning and principles from control theory could be feasible approaches.
              </p>
              <p>
                I am seeking PhD positions beginning Fall 2024!
              </p>
              <p style="text-align:center">
                <a href="mailto:yk20wang@gmail.com">Email</a> &nbsp/&nbsp
                <!-- <a href="https://github.com/leonidk">GitHub</a> &nbsp;/&nbsp; -->
                <a href="https://drive.google.com/file/d/1xSS1DI2DyBrt4QkzSxT4fUPWJKZ64-Xh/view?usp=drive_link">CV</a> &nbsp;/&nbsp;
                <!-- <a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp; -->
                <!-- <a href="https://www.linkedin.com/in/lkeselman"> LinkedIn </a> -->
              </p>
            </td>
            <td style="padding:2.5%;width:45%;max-width:45%">
              <img style="width:115%;max-width:115%" alt="profile photo" src="images/IMG_1964.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              
            </td>
          </tr>
        </table>
       
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:20%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="border-style: none;" width="300" />
            </td>
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h3 >{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y-%m" }}

              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:20%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="border-style: none;" width="260" />
            </td>
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <hr>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px;width:50%;">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
            <td style="padding:2.5%;width:12%;vertical-align:middle;min-width:20px">
              <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=Urp1HgpsXio3njYT0FYfZmX05N9fVziwkiBon9Y8YSM&cl=ffffff&w=a"></script>
            </td>
          </tr>
        </table>
        
      </td>
    </tr>
  </table>
  
</body>
</html>

